@import "../../scss/index.scss";

.liveclass{
  display: grid;
  gap: 1em;
  grid-template-columns: 65% 35%;
  padding-bottom: 1em;
  .livenow{
    text-align: center;
    color: $color-gray;
    margin: .5em;
  }
  .viewall{
    text-align: right;
    color: $color-gray;
    cursor: pointer;
  }
}
